.container {
    display: flex ;
    flex-direction: row ;
    padding-right: 15px ;
    padding-left: 15px ;
    margin-right: auto ;
    margin-left: auto ;
}

.container .product-details {
    display: flex ;
    flex-direction: column ;
    margin-top: 4em ;
    width: 100% ;
}

.container .left-side,
.container .right-side {
    margin: 5em ;
}

.container .stars {
    display: flex ;
}

.container .opinions-no {
    margin-left: 1em ;
}

.container svg:not(:root) {
    overflow: hidden ;
    margin: 0.3em ;
    height: 1em ;
}

.container .row {
    display: -webkit-box ;
    display: -ms-flexbox ;
    display: flex ;
    align-items: center ;
    -ms-flex-wrap: wrap ;
    /* flex-wrap: wrap ; */
    width: 100% ;
    margin-right: -15px ;
    margin-left: -15px ;
}

.container .btn-primary {
    color: #fff ;
    background-color: #bc72e3 ;
    border-color: #571f70 ;
    width: 12em ;
    icon-large: icon-2x ;
    margin-right: 1.3em ;
}

/*.container .reviews{*/
/*    margin-top: 3.5em ;*/
/*}*/

.container .btn-group-lg>.btn,
.btn-lg {
    padding: 10px 16px ;
    font-size: 18px ;
    line-height: 1.3333333 ;
    border-radius: 6px ;
    width: 12em ;
}

.container svg:not(:root) {
    overflow: hidden ;
    margin: 0.3em ;
    height: 1.5em ;
    width: 1.5em ;
}

.container .add-to-basket {
    margin-bottom: 2em ;
    margin-top: 2em ;
    display: flex ;
    align-items: center ;
    margin-right: 2em ;
}

.container .shipping {
    background: #f6e6fe ;
    padding: 2em ;
    border-radius: 15px ;
    margin-bottom: 3.5em ;
}

.container .review-section {
    display: flex ;
    align-items: baseline ;
    justify-content: space-between ;
}

.container .review-section2 {
    display: flex ;
    align-items: baseline ;
    justify-content: left ;
}

.container .stars2 {
    margin-left: 20em ;
}

.container .progress-bar {
    background-color: #be08ff ;
}

/*.rating{*/
/*    width: 100% ;*/
/*}*/
.container .col-sm-3 {
    width: 100% ;
    display: flex ;
    flex-direction: column ;
}



.container .col-sm-3 {
    margin: 3em 0 ;
}

.container .review-buttons {}

.container .dropdown-item {
    display: flex ;
    flex-direction: column ;
}

.container .dropdown {
    margin-top: 5em ;
}

/*.container .btn-primary {*/

/*    width: 100% ;*/
/*}*/

.container .rating {
    width: 100% ;
}

.container .review-buttons {
    display: flex ;
    justify-content: space-around ;
}

.container .review-buttons>.btn-primary {
    width: 12em ;
}

.container .btn-secondary {
    background: #c0c0c0 ;
    border-color: #a7a7a7 ;
}

.container .w-100 {
    /*width: 20em ;*/
    /*height: 20em ;*/
}

/*page 2*/

.container body {
    /*background-color:#5286F3 ;*/
    font-size: 14px ;
    color: black ;
}

/*.simple-login-container{*/
/*    width:300px ;*/
/*    max-width:100% ;*/
/*    margin:50px auto ;*/
/*}*/
/*.simple-login-container h2{*/
/*    text-align:center ;*/
/*    font-size:20px ;*/
/*}*/

/*.simple-login-container .btn-login{*/
/*    background-color:#FF5964 ;*/
/*    color:#fff ;*/
/*}*/
/*a{*/
/*    color:#fff ;*/
/*}*/

/*.pswd{*/
/*    color: black ;*/
/*}*/

.container :root {
    --input-padding-x: 1.5rem ;
    --input-padding-y: 0.75rem ;
}

.container .login,
.container .image {
    min-height: 100vh ;
}

.container .bg-image {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200') ;
    background-size: cover ;
    background-position: center ;
}

.container .login-heading {
    font-weight: 300 ;
}

.container .btn-login {
    font-size: 0.9rem ;
    letter-spacing: 0.05rem ;
    padding: 0.75rem 1rem ;
    border-radius: 2rem ;
}

.container .form-label-group {
    position: relative ;
    margin-bottom: 1rem ;
}

.container .form-label-group>input,
.container .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x) ;
    height: auto ;
    border-radius: 2rem ;
}

.container .form-label-group>label {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    display: block ;
    width: 100% ;
    margin-bottom: 0 ;
    /* Override default `<label>` margin */
    line-height: 1.5 ;
    color: #495057 ;
    cursor: text ;
    /* Match the input under the label */
    border: 1px solid transparent ;
    border-radius: .25rem ;
    transition: all .1s ease-in-out ;
}

.container .form-label-group input::-webkit-input-placeholder {
    color: transparent ;
}

.container .form-label-group input:-ms-input-placeholder {
    color: transparent ;
}

.container .form-label-group input::-ms-input-placeholder {
    color: transparent ;
}

.container .form-label-group input::-moz-placeholder {
    color: transparent ;
}

.container .form-label-group input::placeholder {
    color: transparent ;
}

.container .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3)) ;
    padding-bottom: calc(var(--input-padding-y) / 3) ;
}

.container .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3) ;
    padding-bottom: calc(var(--input-padding-y) / 3) ;
    font-size: 12px ;
    color: #777 ;
}

.container .col-md-8 col-lg-6 {
    display: flex ;
    align-items: center ;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .container .form-label-group>label {
        display: none ;
    }

    .container .form-label-group input::-ms-input-placeholder {
        color: #777 ;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .container .form-label-group>label {
        display: none ;
    }

    .container .form-label-group input:-ms-input-placeholder {
        color: #777 ;
    }
}

.container .login-form {
    margin-top: 5em ;
    display: block ;
    text-align: center ;
}

.container form {
    display: inline-block ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left ;
    width: 40% ;
}

.container .form-control {
    height: 4em ;
    border-radius: 45px ;

    margin: 2em 0 ;
}

.container label {
    font-size: 30px ;
}

.container .login-form .btn-primary {
    width: 100% ;
    height: 3em ;
    margin: 3em 0em ;
    border-radius: 15px ;
}

.container a {
    font-size: 15px ;
}

.container .photo {
    display: flex ;
    flex-direction: column ;
}

.container .photo>img {
    height: 20em ;
    width: 20em ;
}

/*.container .wrapper{*/
/*    display: grid ;*/
/*    width: 100% ;*/
/*    grid-template-columns: repeat(3,33%) ;*/
/*}*/

.container .wrapper>.stars {
    margin-top: 6em ;
    display: flex ;
    flex-direction: column ;
}

.container .wrapper2 {
    display: flex ;
    flex-direction: column ;
    width: 100% ;
    margin-top: 2em ;
    margin-bottom: 4em ;
}

/*.container .text{*/
/*    grid-column-start: 0 ;*/
/*    grid-column-end: span 3 ;*/
/*}*/

.container .wrapper2>.btn-primary,
.text {
    margin-top: 1.3em ;
}

.container .container-comments>.reviews {
    display: flex ;
    flex-direction: column ;
}

.container .container-comments {
    display: flex ;
    flex-direction: column ;
}

.container .container-comments>.progress {
    width: 50em ;
}

.container #com {
    display: flex ;
    align-items: center ;
    margin: 2em 0 ;
}


.container .line {
    border-top: 1px solid #571f70 ;
    flex-grow: 1 ;
    margin: 2em 0 ;
}

.container .comments>label {
    font-size: 25px ;
}

.container .comments>.btn-primary {
    margin: 2em 0em ;
    width: 30% ;
}

/*track order*/
/*body{margin-top:20px ;}*/

.steps .step {
    display: block ;
    width: 100% ;
    margin-bottom: 35px ;
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block ;
    position: relative ;
    width: 100% ;
    height: 80px ;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block ;
    position: absolute ;
    top: 50% ;
    width: 50% ;
    height: 3px ;
    margin-top: -1px ;
    background-color: #e1e7ec ;
    content: '' ;
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block ;
    position: relative ;
    width: 80px ;
    height: 80px ;
    border: 1px solid #e1e7ec ;
    border-radius: 50% ;
    background-color: #f5f5f5 ;
    color: #374250 ;
    font-size: 38px ;
    line-height: 81px ;
    z-index: 5
}

.steps .step .step-title {
    margin-top: 16px ;
    margin-bottom: 0 ;
    color: #606975 ;
    font-size: 14px ;
    font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef
}

.steps .step.completed .step-icon {
    border-color: #0da9ef ;
    background-color: #0da9ef ;
    color: #fff
}

@media (max-width: 576px) {

    .flex-sm-nowrap .step .step-icon-wrap::before,
    .flex-sm-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 768px) {

    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {

    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {

    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

.bg-faded,
.bg-secondary {
    background-color: #f5f5f5  ;
}

.col-sm img {
    margin-top: 3em ;
}

.container-progress {
    margin-top: 5em  ;
    margin-bottom: 5em  ;
}

.progress-shipping {
    /*margin-left: 5em ;*/
    /*margin-bottom: 5em ;*/
}

.photo-album {
    /*margin-left: 5em ;*/
    width: 8em ;
    height: 8em ;
}

.steps .step.completed .step-icon {
    border-color: #be08ff ;
    background-color: #be08ff ;
    color: #fff ;
}

.steps .step.completed .step-icon-wrap::after {
    background-color: #be08ff ;
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #be08ff ;
}

.bi-circle-fill {
    color: #be08ff ;
}

.bi-circle {
    color: #be08ff ;
}

.col-sm>h2 {
    color: #bc72e3 ;
}

.col-sm>p {
    color: #571f70 ;
}

.col>h1 {
    font-size: 1em ;
}

.col-sm>h2 {
    font-size: 1em ;
}

.col-sm>p {
    font-size: 0.5em ;
}

.steps .step .step-icon {
    display: inline-block ;
    position: relative ;
    width: 50px ;
    height: 50px ;
    border: 1px solid #e1e7ec ;
    border-radius: 50% ;
    background-color: #f5f5f5 ;
    color: #374250 ;
    font-size: 38px ;
    line-height: 58px ;
    z-index: 5 ;
}

.steps .step .step-title {
    margin-top: 16px ;
    margin-bottom: 0 ;
    color: #606975 ;
    font-size: 10px ;
    font-weight: 500 ;
}

.steps .step .step-icon-wrap {
    display: block ;
    position: relative ;
    width: 100% ;
    height: 50px ;
    text-align: center ;
}

#date {
    font-size: 0.5em ;
}

.col-md-auto>h5 {
    font-size: 1em ;
}

#title {
    font-size: 25px ;
}

#order {
    font-size: 20px ;
    color: #be08ff ;
}

#order-no {
    font-size: 10px ;
}

#add-review {
    width: 5em ;
}

a.btn.btn-primary.add-to-basket {
    width: 100% ;
}

.progress {
    border-radius: 0px ;
    width: 60em ;
}

.group2 {
    margin-left: 4em  ;
}

@media only screen and (max-width: 900px) {
    .progress {
        width: 40em ;
    }

    .group2 {
        margin-left: 0em  ;
    }
}


@media only screen and (max-width: 600px) {
    .progress {
        width: 18em ;
    }

    .group2 {
        margin-left: 0em  ;
    }
}

.container.mt-5 {
    display: flex ;
    justify-content: flex-end ;
}

/*@media (min-width: 576px) {*/

/*}*/
@media (max-width: 780px) {
    .photo-album {
        margin-bottom: 4em ;
    }

    #order-no {
        font-size: 15px ;
    }

    .container,
    .container-sm {

        margin-left: 0 ;
    }

    .container .left-side,
    .container .right-side {
        margin: 0 ;
        margin-left: 2em ;
    }

    .carousel {
        margin-top: 3em ;
    }

    .tab-content>p {
        font-size: 25px ;
    }

    .reviews {
        margin-top: 3em ;
    }
}
